<div class="container">

  <body>
    <div>
      <img src="../assets/1silvamidia.png" alt="Descrição da imagem" id="imagem-tela-cheia">
    </div>

    <div>
      <img src="../assets/2trabalho.png" alt="Descrição da imagem" id="imagem-tela-cheia">
    </div>
    <div>
      <img src="../assets/3cuidados.png" alt="Descrição da imagem" id="imagem-tela-cheia">
    </div>
    <div>
      <img src="../assets/4resultados.png" alt="Descrição da imagem" id="imagem-tela-cheia">
    </div>
    <div>
      <img src="../assets/5orçamentoMB.png" alt="Descrição da imagem" id="imagem-tela-cheia">
    </div>
    <div class="caixa-contato">
      <img src="../assets/6contato.png" alt="Descrição da imagem" class="contato">

      <div>
        <a  href="https://web.whatsapp.com/send?phone=5511968949927" target="_blank">
          <img class="whatsapp-link" src="../assets/whatsapp.png" alt="Ícone do WhatsApp" >
      </a>
      </div>
    </div>
  </body>




</div>
